*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: saddlebrown;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.wrapper{
    width: 47%;
    margin: 30px auto 0 auto;
    border: 2px solid white;
}

header{
    background-image: url("images/header.jpg");
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
}

.flex-container{
    display: flex;
    width: 100%;
    height: 600px;
    flex-wrap: wrap;
}

.nav{
    padding: 25px 25px 0 0;
    background-color: olive;
    width: 20%;
}

.nav li{
    list-style-type: none;
    padding: 10px 10px 10px 20px;

}

a:link{
    color: white;
    font-weight: bold;
    text-decoration: none;

}
a:visited{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: saddlebrown;
    font-weight: bold;
    text-decoration: none;
}

.mobile-nav-button{
    color: white;
    font-size: 20px;
    border: 2px solid white;
    width: 35px;
    height: 35px;
    margin-left: 20px;
    margin-bottom: 0;
    position: relative;
}

.mobile-nav-button > span{
    position: absolute;
    bottom: 2px;
    left: 10px;
}

.mobile-nav-content > ul > li{
    background-color: #3A2F0B;
    padding-left: 10px;
    margin-left: 20px;
}

.mobile-nav-dropdown{
    position: relative;
    display: inline-block;
}

.mobile-nav-content{
    position: absolute;
    display: none;
}

.mobile-nav-dropdown:hover>.mobile-nav-content{
    display: block;
}

section{
    width: 80%;
    background-color: beige;
    padding: 25px 25px 0 25px;
    overflow: auto;
}

footer{
    background-color: #3A2F0B;
    color: white;
    font-size: 10pt;
    width: 100%;
    height: 30px;
    text-align: center;
}

.klein{
    font-size: 11pt;
    text-align: center;
}
p{
    padding: 10px;
}

h1{
    padding: 10px;
    font-size: 18pt;
}

h2{
   font-size: 14pt;
    padding: 10px 10px 5px 10px;
}

.desktop-nav{
    display: block;
}

.mobile-nav{
    display: none;

}

@media (max-width: 900px) {
    .nav{
        width: 100%;
        height: 15%;
    }
    .nav ul li{
        display: block;
        margin-top: 0;
    }
    section{
        width: 100%;
        height: 85%;
    }
    .desktop-nav{
        display: none;
    }
    .mobile-nav{
        display: block;
    }
}